*
{
    box-sizing: border-box;
}

html
{
    background-color: rgb(248, 248, 248);
}

body
{
    margin: 0;
}

.nav-bar
{
    display: flex;
    background-color:black;
    color: white;
    height: 12vh;
    user-select: none;
    #site-title
    {
        font-size: 1.5rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    #site-title:hover
    {
        cursor:default;
    }
    #divider
    {
        height: 100%;
        width: 2px;
        background-color: white;
        margin-right:20px;
    }
    .nav-item
    {
        background-color: black;
        display: grid;
        place-items: center;
    }
    .nav-btn
    {
        background-color: white;
        color: black;
        border-radius: 30px;
        padding: 5px 30px;
        transform: scale(0.7);
        transition: all 0.25s ease-out;
    }
    .nav-btn:hover
    {
        transform: scale(1.2);
        animation: transform ease 0.2s;
        cursor: pointer;
    }
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.grid-container
{
    margin: 20px 40px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-auto-flow: column;
    gap:30px;
    .grid-item:nth-child(1)
    {
        opacity: 1;
    }
    .grid-item
    {
        overflow: auto;
        display: inline-block;
        height: 100%;
        border: 1px solid black;
        border-radius: 20px;
        opacity: 0;
        background-color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    height: calc(100vh - 40px - 12vh);
    #pseudo
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:20px;
        height: 100%;
        .input-region
        {
            display: flex;
            height: 50%;
            width: 100%;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            gap:30px;
            h2
            {
                text-align: center;
            }
            .array-input
            {
                border: 1px solid black;
                border-radius: 20px;
                padding: 10px 20px;
                height:20%;
                font-size: large;
                transition: all 0.25s ease-out;
            }
            .array-input:focus
            {
                scale: 1.1;
                outline: none;
                border: 2px solid green;
            }
            .array-input:hover
            {
                scale: 1.1;
            }
            .submit-btn
            {
                align-self: flex-end;
                padding: 10px 20px;
                color:white;
                background-color: black;
                border: 1px solid black;
                border-radius: 20px;
                font-weight: bold;
                transition: all 0.25s ease-out;
            }
            .submit-btn:hover
            {
                scale:1.2;
            }
            .submit-btn:active
            {
                scale:0.8;
            }
        }
        .desc-region
        {
            display: flex;
            flex-direction: column;
            height: 50%;
            width: 100%;
            overflow: hidden;
            .array-input-desc
            {
                font-size: large;
                font-weight: bold;
            }
        }
        h1
        {
            text-align: center;
        }
        .step
        {
            font-size: large;
            margin:20px;
            color:grey;
            transition: all 0.25s ease-out;
            text-align: center;
        }
        .play-btn
        {
            display: inline-block;
            margin-top: auto;
            padding:30px;
            height: 20px;
            width: 20px;
            border:none;
            background-image: url("./media/play-button-svgrepo-com.svg");
            background-color:transparent;
            background-size: cover;
            transition: all 0.25s ease-out;
        }
        .play-btn:hover
        {
            cursor: pointer;
            scale:1.2;
        }
        .play-btn:active
        {
            scale:0.9;
        }
    }
    #ori-array
    {
        display:flex;
        flex-direction: column;
        padding:20px;
        font-size: large;
        font-weight: bold;
        .array-holder
        {
            display: flex;
            flex-direction: column;
            gap:20px;
            align-items: center;
            width: 100%;
            .array-item
            {
                width: 100%;
                border: 1px solid black;
                border-radius: 20px;
                padding: 10px 20px;
                text-align: center;
            }
            .array-item:hover
            {
                transform: scale(1.2);
            }
        }
        .ori-header
        {
            text-align: center;
        }
    }
    #runs-region
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding:20px 10px;
        .run-holder
        {
            display: flex;
            flex-direction: column;
            gap:5px;
            border: 1px solid black;
            padding:10px;
            border-radius: 10px;
            width: 100%;
            background-color:#4CAF50;
            .run-item
            {
                text-align: center;
                border: 1px solid black;
                border-radius: 5px;
                background-color: white;
            }
        }
    }
    #heap-region
    {
        .heap-header
        {
            text-align: center;
            font-size: normal;
        }
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
        font-size: large;
        font-weight: bold;
        .heap-item
        {
            display: block;
            width: 100%;
            text-align: center;
            border: 1px solid black;
            border-radius: 20px;
            padding: 10px 20px;
        }
    }
    #result-region
    {
        gap:20px;
        .result-header
        {
            text-align: center;
        }
        .result-item
        {
            width: 100%;
            text-align: center;
            padding:10px 20px;
            border:1px solid black;
            border-radius: 20px;
            font-size: large;
            font-weight: bold;

        }
    }
}
