*
{
    box-sizing: border-box;
}

html
{
    background-color: rgb(249, 249, 249);
}

body
{
    margin: 0;
}

.nav-bar
{
    display: flex;
    background-color:black;
    color: white;
    height: 12vh;
    user-select: none;
    #site-title
    {
        font-size: 1.5rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    #site-title:hover
    {
        cursor:default;
    }
    #divider
    {
        height: 100%;
        width: 2px;
        background-color: white;
        margin-right:20px;
    }
    .nav-item
    {
        background-color: black;
        display: grid;
        place-items: center;
    }
    .nav-btn
    {
        background-color: white;
        color: black;
        border-radius: 30px;
        padding: 5px 30px;
        transform: scale(0.7);
        transition: all 0.25s ease-out;
    }
    .nav-btn:hover
    {
        transform: scale(1.2);
        animation: transform ease 0.2s;
        cursor: pointer;
        filter:sepia(100%);
    }
    gap: 20px;
    align-items: center;
}


.grid-container
{
    margin: 20px 40px;
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    gap:30px;
    .grid-item:nth-child(1)
    {
        opacity: 1;
    }
    .grid-item
    {
        overflow: auto;
        display: inline-block;
        height: 100%;
        border: 1px solid black;
        border-radius: 20px;
        opacity: 0;
        background-color: white;
    }
    height: calc(100vh - 40px - 12vh);
    #pseudo
    {
        .input-region
        {
            display: flex;
            height: 50%;
            width: 100%;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            gap:30px;
            padding:20px;
            .array-input
            {
                border: 1px solid black;
                border-radius: 20px;
                padding: 10px 20px;
                height:20%;
                font-size: large;
                transition: all 0.25s ease-out;
            }
            .array-input:focus
            {
                scale: 1.1;
                outline: none;
                border: 2px solid green;
            }
            .array-input:hover
            {
                scale: 1.1;
            }
            .submit-btn
            {
                align-self: flex-end;
                padding: 10px 20px;
                color:white;
                background-color: black;
                border: 1px solid black;
                border-radius: 20px;
                font-weight: bold;
                transition: all 0.25s ease-out;
            }
            .submit-btn:hover
            {
                scale:1.2;
            }
            .submit-btn:active
            {
                scale:0.8;
            }
        }
        .desc-region
        {
            display: flex;
            flex-direction: column;
            height: 50%;
            width: 100%;
            padding:20px;
            overflow: hidden;
            .array-input-desc
            {
                font-size: large;
                font-weight: bold;
            }
        }
    }
    #ori-array
    {
        font-size: large;
        font-weight: bold;
        .array-holder
        {
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
            gap:20px;
            align-items: center;
            .array-item
            {
                display: block;
                width: 100%;
                border: 1px solid black;
                border-radius: 20px;
                padding: 10px 20px;
                text-align: center;
            }
            .array-item:hover
            {
                transform: scale(1.2);
            }
        }
    }
}
